.Preview {
   
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 40% 20%;
    height: 100%;
    
    
}

.panelVisual {
    
    border-radius: 12px;
    grid-row: 1;
    background-color: var(--bg);
}

.Audio {
    grid-row: 2;
    background-color: var(--bg);
    border-radius: 12px;
    margin:  8px 0;
   
}

.onda-audio {
    grid-row: 3;
    background-color: var(--bg);
    border-radius: 12px;
}